body {
    background-color: #2F86A6;
    height: 600px;
}

#login {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: #359bc0;
    border-color: rgb(20, 172, 218);
    font-size: 20px;
    margin-left: 1000px;
    margin-top: -100px;
    margin-right: 5px;
    text-decoration: none;
    font-family: 'Comic Book';
    color: rgb(255, 255, 255);

}

#login:hover {
    background-color: #318aaa;
}

#signin {
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: #359bc0;
    border-color: rgb(20, 172, 218);
    font-size: 20px;
    margin-top: -100px;
    font-family: 'Comic Book';
    color: rgb(255, 255, 255);

}


#signin:hover {
    text-decoration: none;
    background-color: #318aaa;
}

.penjelasan {
    font-family: 'Comic Book';
}

#signin:active {
    text-decoration: none;
    background-color: aqua;
}



.headerutama {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#2F86A6, #96C7C1);
    height: max-content;
    /* margin-left: -10px; */
    width: 100%;
    padding-bottom: 60px;
    padding-left: 15px;
    margin-left: -8px;
    margin-top: 40px;
}

@font-face {
    font-family: 'Greconian';
    src: url(../Greconian.ttf);
}



.h1header {
    font-family: 'Greconian';
    font-size: 80px;
    margin-top: -20px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

nav {
    margin-left: -70px;
}

nav a {

    height: 150px;
    width: max-content;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    padding-left: 50px;


}

nav li {
    display: inline-block;
    /* float: left; */
    padding-right: 15px;
    padding-left: -20px;
    text-align: center;
}

ul {
    list-style-type: none;

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a::after {
    color: white;
}

a:hover {
    color: #012268;
}

p {
    text-indent: 10px;
}

@font-face {
    font-family: 'Comic Book';
    src: url(Comic\ Book.otf);
}

.button {
    border-radius: 10px;
    height: 50px;
    width: 130px;
    background-color: #359bc0;
    border-color: rgb(31, 93, 112);
    font-size: 25px;
    margin-left: 200px;
    margin-top: 20px;

}

.button:hover {
    background-color: aqua;
}


.aboutme {
    margin-top: -40px;
    background-color: #96C7C1;
    height: 1400px;
    font-size: 20px;
    width: 100%;
    padding-left: 15px;
    margin-left: -8px;
}

.bodytittle {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -780px;
    background-size: 2000px;

}

#welcome {
    font-family: 'Normandia';
    font-size: 40px;
    text-align: center;
    color: #217492;
    padding-bottom: 40px;
    margin-top: 40px;

}

.fotoam1 {
    background-image: url('/Foto/giren.jpg');
    width: 250px;
    height: 250px;
    background-size: 200px;
    margin-left: -250px;
    border-radius: 100%;
    border: 2px rgb(0, 14, 95) solid;
    margin-top: -600px;
    background-size: 250px;
}

.bodyam {

    color: rgb(0, 0, 0);
    text-align: left;
    width: 800px;
    margin-left: 380px;
    background-size: 2000px;
    margin-top: 780px;


}

.body2am {

    color: rgb(0, 0, 0);
    text-align: center;
    width: 800px;
    margin-top: 10px;
    background-size: 2000px;
    font-size: 20px;
    margin-left: -400px;

}

.headeram {

    margin-top: -70px;

}

.h1am {
    font-size: 45px;
    margin-top: -200px;
    margin-left: 140px;
    color: rgb(0, 0, 0);
    width: 630px;
}

.h3am {
    font-size: 18px;
    margin-top: -20px;
    line-height: 30px;
    margin-left: 140px;
    color: rgb(0, 0, 0);
}



.h3am1 {
    font-size: 18px;
    margin-top: -20px;
    line-height: 30px;
    margin-left: 520px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    width: 350px;


}

.h3am2 {
    font-size: 15px;
    margin-top: -20px;
    line-height: 30px;
    margin-left: 325px;
    color: rgb(0, 0, 0);


}

.h3am3 {
    font-size: 18px;
    margin-top: 20px;
    line-height: 30px;
    margin-left: 350px;
    color: rgb(0, 0, 0);


}

.h3am4 {
    font-size: 15px;
    margin-top: -20px;
    line-height: 30px;
    margin-left: 338px;
    color: rgb(0, 0, 0);


}

.h3am5 {
    font-size: 15px;
    margin-top: -20px;
    line-height: 30px;
    margin-left: -655px;
    color: rgb(0, 0, 0);


}

.h2am {
    font-size: 25px;
    margin-top: 80px;
    line-height: 30px;
    text-align: left;
    margin-left: 540px;
    color: rgb(0, 0, 0);
}

.contact {
    font-size: 25px;
    margin-top: -300px;
    line-height: 30px;
    text-align: left;
    margin-left: 100px;
    color: rgb(0, 0, 0);
}

.topskill {
    font-size: 25px;
    margin-top: -900px;
    line-height: 30px;
    text-align: left;
    margin-left: 100px;
    color: rgb(0, 0, 0);
}

.certification {
    font-size: 25px;
    margin-top: 30px;
    line-height: 30px;
    text-align: left;
    margin-left: 100px;
    color: rgb(0, 0, 0);
}

.p1am {

    text-align: justify;
    line-height: 35px;
    margin-left: 540px;
    width: 600px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.p1am2 {

    text-align: justify;
    line-height: 35px;
    margin-left: 530px;
    width: 600px;
    margin-top: -20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.p1am3 {

    text-align: justify;
    line-height: 35px;
    margin-left: 530px;
    width: 600px;
    margin-top: -20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.p1am4 {

    text-align: left;
    line-height: 35px;
    margin-left: -316px;
    width: 600px;
    margin-top: -163px;
    font-size: 15px;
    color: rgb(0, 0, 0);


}

.p1am5 {

    text-align: left;
    line-height: 35px;
    margin-left: -316px;
    width: 600px;
    margin-top: -12px;
    font-size: 15px;
    color: rgb(0, 0, 0);


}

.p1am6 {

    text-align: left;
    line-height: 35px;
    margin-left: -316px;
    width: 600px;
    margin-top: -10px;
    font-size: 15px;
    color: rgb(0, 0, 0);


}

.p1am7 {

    text-align: left;
    line-height: 35px;
    margin-left: -316px;
    width: 600px;
    margin-top: -10px;
    font-size: 13px;
    color: rgb(0, 0, 0);


}

.p1am8 {

    text-align: left;
    line-height: 35px;
    margin-left: 92px;
    width: 600px;
    margin-top: -10px;
    font-size: 15px;
    color: rgb(0, 0, 0);


}

.p1am9 {

    text-align: left;
    line-height: 35px;
    margin-left: 92px;
    width: 600px;
    margin-top: -10px;
    font-size: 15px;
    color: rgb(0, 0, 0);


}

.p1am10 {

    text-align: left;
    line-height: 35px;
    margin-left: 90px;
    width: 600px;
    margin-top: -10px;
    font-size: 15px;
    color: rgb(0, 0, 0);


}

.p1am11 {

    text-align: left;
    line-height: 20px;
    margin-left: 92px;
    width: 600px;
    margin-top: -10px;
    font-size: 15px;
    color: rgb(0, 0, 0);


}


.h4am {
    font-size: 15px;
    margin-top: -30px;
    color: #ffc400;

}



.fotoam2 {
    background-image: url('gmail.png');
    width: 30px;
    height: 15px;
    background-size: 30px;
    margin-left: 100px;

}

.fotoam3 {
    background-image: url('ig.png');
    width: 30px;
    height: 30px;
    background-size: 30px;
    margin-left: 100px;


}

.fotoam4 {
    background-image: url('line.png');
    width: 38px;
    height: 38px;
    background-size: 38px;
    margin-left: 100px;
    margin-top: -10px;


}

.fotoam5 {
    background-image: url('linkedin.png');
    width: 26px;
    height: 26px;
    background-size: 26px;
    margin-left: 50px;
    margin-top: -10px;

}

#footer {
    margin-top: -10px;
    height: 60px;
    width: 100%;
    padding-left: 15px;
    /* margin-left: -8px; */
    margin-left: -8px;
    background-color: rgb(56, 53, 53);
    margin-right: -60px;
    padding-top: 30px;

}

.pfooter {
    color: antiquewhite;
    text-align: center;
    margin-top: -2px;
}