#login {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: #359bc0;
    border-color: rgb(20, 172, 218);
    font-size: 20px;
    margin-left: 1000px;
    margin-top: -100px;
    margin-right: 5px;
    text-decoration: none;
    font-family: 'Comic Book';
    color: rgb(255, 255, 255);

}

#login:hover {
    background-color: #318aaa;
}

#signin {
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: #359bc0;
    border-color: rgb(20, 172, 218);
    font-size: 20px;
    margin-top: -100px;
    font-family: 'Comic Book';
    color: rgb(255, 255, 255);

}


#signin:hover {
    text-decoration: none;
    background-color: #318aaa;
}

.penjelasan {
    font-family: 'Comic Book';
}

#signin:active {
    text-decoration: none;
    background-color: #318aaa;
}


body {
    background-color: #2F86A6;
    height: 600px;
}

.headerutama {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(#2F86A6, #96C7C1);
    height: max-content;
    width: 100%;
    padding-bottom: 50px;
    padding-left: 15px;
    margin-left: -8px;
    margin-top: 40px;
}

@font-face {
    font-family: 'Greconian';
    src: url(Greconian.ttf);
}



.h1header {
    font-family: 'Greconian';
    font-size: 80px;
    margin-top: -20px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

nav {
    margin-left: -70px;
}

nav a {

    height: 100px;
    width: max-content;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    padding-left: 50px;


}

nav li {
    display: inline-block;
    /* float: left; */
    padding-right: 15px;
    padding-left: -20px;
    text-align: center;
}

ul {
    list-style-type: none;

}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a::after {
    color: white;
}

a:hover {
    color: #012268;
}


p {
    text-indent: 10px;
}



@font-face {
    font-family: 'Comic Book';
    src: url(Comic\ Book.otf);
}




.button {
    border-radius: 10px;
    height: 50px;
    width: 130px;
    background-color: #359bc0;
    border-color: rgb(31, 93, 112);
    font-size: 25px;
    margin-left: 200px;
    margin-top: 20px;

}

.button:hover {
    background-color: aqua;
}


#footer {
    margin-top: -10px;
    height: 60px;
    width: 100%;
    padding-left: 15px;
    /* margin-left: -8px; */
    margin-left: -8px;
    background-color: rgb(56, 53, 53);
    margin-right: -60px;
    padding-top: 30px;

}

.pfooter {
    color: antiquewhite;
    text-align: center;
    margin-top: -2px;
}


#welcome {
    font-family: 'Normandia';
    margin-top: 75px;
    font-size: 40px;
    text-align: center;
    color: #217492;
}

.documentation {
    background-color: #96C7C1;
    height: 500px;
    margin-left: -10px;
    width: 100%;
    padding-left: 15px;
    margin-left: -8px;
    margin-top: -18px;
}

#mygithub {
    font-size: 30px;
    font-family: 'Comic Book';
    margin-top: 20px;
    text-align: center;
}

#github1 {
    text-align: center;
}


#github3 {
    color: #ffffff;
    font-family: 'Comic Book';
    font-size: 30px;
    text-align: center;
}

#github4 {
    text-align: center;
}

#frame {
    width: 880px;
    border-radius: 20px;
    height: 540px;
}